.navbar21-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.navbar21-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar21-image1 {
  height: 3rem;
}
.navbar21-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar21-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar21-burger-menu {
  display: none;
}
.navbar21-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar21-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar21-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar21-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar21-logo {
  height: 3rem;
}
.navbar21-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar21-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar21-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar21-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navbar21-root-class-name {
  max-width: 1200px;
}
.navbar21-root-class-name1 {
  max-width: 1200px;
}
.navbar21-root-class-name2 {
  max-width: 1200px;
}
.navbar21-root-class-name3 {
  max-width: 1200px;
}
.navbar21-root-class-name4 {
  max-width: 1200px;
}
.navbar21-root-class-name5 {
  max-width: 1200px;
}
@media(max-width: 767px) {
  .navbar21-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar21-desktop-menu {
    display: none;
  }
  .navbar21-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar21-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar21-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.component9-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-unit);
  max-height: 530px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-color: #ece4e4;
}
.component9-container1 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 8px;
}
.component9-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
}
.component9-container2 {
  align-self: center;
  justify-content: flex-start;
}
.component9-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.component9-text {
  font-size: 25px;
  font-style: normal;
  font-family: "HelveticaNeue-Medium";
  font-weight: 600;
  line-height: 150%;
}
.component9-text03 {
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "HelveticaNeue-Light";
}
.component9-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: flex-start;
}
.component9-icon {
  color: #ff0000;
  width: 24px;
  height: 24px;
}
.component9-text04 {
  align-self: flex-start;
  line-height: 150%;
}
.component9-text05 {
  margin-top: var(--dl-space-space-twounits);
  font-family: "HelveticaNeue-Light";
  margin-bottom: var(--dl-space-space-twounits);
}
.component9-text08 {
  margin-top: var(--dl-space-space-unit);
}
.component9-text09 {
  font-size: 18px;
  font-style: normal;
  font-family: "HelveticaNeue-Medium";
  font-weight: 600;
}
.component9-container5 {
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-right: 0px;
  padding-right: var(--dl-space-space-halfunit);
}
.component9-button {
  fill: var(--dl-color-custom-neutral-light);
  color: var(--dl-color-custom-neutral-light);
  width: 49%;
  height: 40px;
  border-width: 0px;
  background-color: var(--dl-color-exxo-exxo-blue);
}
.component9-button1 {
  width: 49%;
  height: 40px;
  border-width: 0px;
}


@media(max-width: 479px) {
  .component9-container {
    max-height: 100%;
    flex-direction: row;
  }
  .component9-container1 {
    width: 100%;
  }
  .component9-container2 {
    width: 100%;
  }
  .component9-container3 {
    padding-right: var(--dl-space-space-unit);
  }
}

.component10-container {
  width: 100%;
  height: 133px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/image1-1500w-1500w.jpeg");
  background-position: center;
}
.component10-text {
  color: var(--dl-color-custom-neutral-light);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
.component10-root-class-name {
  height: 150px;
  margin-left: 8px;
  margin-right: 8px;
}
.component10-root-class-name1 {
  height: 150px;
}
.component10-root-class-name2 {
  height: 150px;
}
.component10-root-class-name3 {
  height: 150px;
}
.component10-root-class-name4 {
  height: 150px;
  margin-left: 8px;
  margin-right: 8px;
}
.component10-root-class-name5 {
  height: 150px;
}
.component10-root-class-name6 {
  height: 150px;
}
.component10-root-class-name7 {
  height: 150px;
  margin-left: 8px;
  margin-right: 8px;
}
.component10-root-class-name8 {
  height: 150px;
}
@media(max-width: 479px) {
  .component10-root-class-name7 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.component11-container {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.component11-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.component11-image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.component11-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ece4e4;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.component11-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.component11-text {
  fill: var(--dl-color-exxo-exxo-heading);
  color: var(--dl-color-exxo-exxo-heading);
  font-family: "HelveticaNeue-Medium";
  font-weight: 600;
}
.component11-text1 {
  font-size: 14px;
  padding-top: var(--dl-space-space-halfunit);
}
.component11-text2 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 14px;
  align-self: flex-end;
}
.component11-text3 {
  fill: var(--dl-color-exxo-exxo-heading);
  color: var(--dl-color-exxo-exxo-heading);
  align-self: flex-end;
}
.component11-text4 {
  fill: var(--dl-color-gray-700);
  color: var(--dl-color-gray-700);
  font-size: 14px;
  align-self: flex-end;
}
.component11-root-class-name {
  flex: initial;
  width: 100%;
}
.component11-root-class-name1 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name2 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name3 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name4 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name5 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name6 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name7 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name8 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name9 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name10 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name11 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name12 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name13 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name14 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name15 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name16 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name17 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name18 {
  flex: initial;
  width: 100%;
}
.component11-root-class-name19 {
  flex: initial;
  width: 100%;
}
@media(max-width: 479px) {
  .component11-root-class-name16 {
    width: 100%;
  }
  .component11-root-class-name17 {
    width: 100%;
  }
}

.footer81-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footer81-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer81-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer81-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer81-content-title1 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.footer81-content1 {
  fill: var(--dl-color-custom-neutral-light);
  color: var(--dl-color-custom-neutral-light);
  text-transform: capitalize;
}
.footer81-content2 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-text2 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.footer81-text3 {
  text-transform: capitalize;
}
.footer81-text5 {
  text-decoration: underline;
}
.footer81-text7 {
  text-decoration: underline;
}
.footer81-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.footer81-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer81-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer81-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer81-link1 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link2 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link3 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link4 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link5 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer81-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer81-link6 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link7 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link8 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link9 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-link10 {
  fill: #e0f0f4;
  color: #e0f0f4;
}
.footer81-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer81-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer81-footer-links2 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer81-root-class-name {
  max-width: 1200px;
}
.footer81-root-class-name1 {
  max-width: 1200px;
}
.footer81-root-class-name2 {
  max-width: 1200px;
}
.footer81-root-class-name3 {
  max-width: 1200px;
}
.footer81-root-class-name4 {
  max-width: 1200px;
}
@media(max-width: 991px) {
  .footer81-newsletter {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .footer81-content {
    flex-direction: column;
  }
  .footer81-newsletter {
    width: 100%;
  }
  .footer81-social-links {
    align-self: flex-start;
  }
  .footer81-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer81-column1 {
    align-items: center;
  }
  .footer81-column1-title {
    text-align: center;
  }
  .footer81-footer-links {
    align-self: center;
  }
  .footer81-column2 {
    align-items: center;
  }
  .footer81-column2-title {
    text-align: center;
  }
  .footer81-footer-links1 {
    align-self: center;
  }
  .footer81-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer81-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer81-links {
    flex-direction: column;
  }
  .footer81-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer81-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer81-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer81-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer81-credits {
    gap: 0;
  }
  .footer81-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer81-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.exxo-detail-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.exxo-detail-container01 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
}
.exxo-detail-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exxo-detail-image {
  width: 100%;
  object-fit: cover;
}
.exxo-detail-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.exxo-detail-container04 {
  flex: 0 0 auto;
  width: 90%;
  height: 100px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  margin-top: -50px;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-exxo-exxo-blue);
}
.exxo-detail-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.exxo-detail-form {
  width: auto;
  height: auto;
  display: flex;
}
.exxo-detail-select {
  width: 200px;
  height: 40px;
  border-radius: var(--dl-radius-radius-radius4);
}
.exxo-detail-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.exxo-detail-textinput {
  flex: 1;
  height: 40px;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  border-top-left-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: 0;
}
.exxo-detail-textinput1 {
  height: 40px;
  border-color: var(--dl-color-exxo-exxo-heading);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  border-left-width: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.exxo-detail-textinput2 {
  height: 40px;
  border-width: 0px;
}
.exxo-detail-button {
  color: #ffffff;
  width: var(--dl-size-size-large);
  height: 40px;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  background-color: var(--dl-color-primary-darkmajority1);
}
.exxo-detail-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.exxo-detail-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.exxo-detail-text {
  fill: var(--dl-color-exxo-exxo-heading);
  color: var(--dl-color-exxo-exxo-heading);
}
.exxo-detail-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.exxo-detail-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.exxo-detail-text1 {
  fill: var(--dl-color-exxo-exxo-heading);
  color: var(--dl-color-exxo-exxo-heading);
}
.exxo-detail-container11 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.exxo-detail-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.exxo-detail-text2 {
  fill: var(--dl-color-exxo-exxo-heading);
  color: var(--dl-color-exxo-exxo-heading);
}
.exxo-detail-container13 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.exxo-detail-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-exxo-exxo-blue);
}
.exxo-detail-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
}
@media(max-width: 767px) {
  .exxo-detail-form {
    display: block;
  }
}
@media(max-width: 479px) {
  .exxo-detail-image {
    height: 350px;
  }
  .exxo-detail-container03 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .exxo-detail-container04 {
    flex: initial;
    width: 100%;
    height: auto;
    max-width: auto;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .exxo-detail-container05 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .exxo-detail-form {
    width: 100%;
    position: relative;
    align-self: center;
  }
  .exxo-detail-select {
    width: 90%;
  }
  .exxo-detail-container06 {
    width: 90%;
    height: auto;
  }
  .exxo-detail-textinput {
    flex: initial;
    width: 50%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .exxo-detail-textinput1 {
    width: 50%;
    margin-right: 0px;
  }
  .exxo-detail-textinput2 {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .exxo-detail-button {
    width: 90%;
    height: 40px;
    align-self: center;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .exxo-detail-container07 {
    position: relative;
  }
  .exxo-detail-container11 {
    gap: 10px;
    flex-direction: column;
  }
  .exxo-detail-container13 {
    flex-direction: column;
    justify-content: center;
  }
}
