.component3-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.component3-link {
  color: #fffdfd;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-family: "Inter";
  text-decoration: none;
}
.component3-link1 {
  color: #fffdfd;
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: "Inter";
  text-decoration: none;
}
